
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mi página</title>
</head>

<body>
    <h1>Hola {{ nombre }}</h1>

 {% for item in items %}
        <p>{{ item }}</p>
    {% endfor %}

    <div class="bloque1">

        <H1>FIst page</H1>

        <P>Machine Learning</P>

    {% if name%}
        <p>El nombre es {{ name }} </strong></p>
    {% else %}
        <p>No se ha proporcionado un nombre.</p>
    {% endif %}

        <p>Espacio para division</p>
    </div>
</body>
</html>

</body>
</html>